* {
    margin: 0px;
    padding: 0px
}

#clase1·Title {
    width: 100vw;
    border-bottom: 1px solid black;
}

.clase1·List {
    padding: 5vh 5vw;
    width: 60vw;
}

.clase1·Link {
    padding: 5vh 5vw;
    width: 60vw;
}

.remarks {
    color: chocolate;
    padding-left: 5vw;
}