* {
    margin: 0px;
    padding: 0px
}

header {
    width: 100vw;
    border-bottom: 1px solid black;
}


/*  CLASE 1   */
.clase·List {
    padding: 5vh 5vw;
    width: 60vw;
}

.clase1·Link {
    padding: 5vh 5vw;
    width: 60vw;
}

.remarks {
    color: chocolate;
}

/*  CLASE 2   */

.clase2·List {
    padding: 5vh 5vw;
    width: 60vw;
}